# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Nodejs.gitlab-ci.yml

# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
image: node:16

stages:
    - test
    - build

# This folder is cached between builds
# https://docs.gitlab.com/ee/ci/yaml/index.html#cache
cache:
  paths:
    - node_modules/

ESLint:
    stage: test
    script:
        - npm install
        - npm run lint

Build all:
    stage: build
    script:
        - npm run build
    artifacts:
        paths:
            - bin/plugify-cli-linux
            - bin/plugify-cli-macos
            - bin/plugify-cli-win.exe